<!--左上部分-->
<div class="index-page">


<!--右側-->
<div class="right">
<h1>Book detail</h1>
<% @books.each do |book| %>
  <p>Title</p>
  <span>
      <%= link_to book.title, book_path(book.id) %>
  </span>
  <p>Opinion</p>
  <span>
      <%= link_to book.body %>
  </span>
  <%= link_to "Edit", edit_book_path(book) %>
  <%= link_to "Destroy", book_path(book) %>
<% end %>
</div>