/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";
header{
  background-color:#343a40;
  color:white;
}
.container{
   display: flex;
  justify-content: flex-end;
  padding: 8px;
}
.container > :first-child {
  margin-right: auto;
}
span{
  font-size: 20px;
  padding: 8px;
}
header ul{
  display: flex;
  justify-content: flex-end;
  margin-bottom:0px;
}

header li{
  list-style:none;
  padding: 8px;
}

footer{
  text-align:center;
}